asgiref==3.7.2
aws-psycopg2
azure-core
azure-functions
azure-identity
azure-storage-blob
certifi
cffi
charset-normalizer
configparser
cryptography
defusedxml
distlib
django
django-cors-headers
django-environ
django-storages
djangorestframework
dnspython
filelock
httpie
idna
isodate
markdown-it-py
mdurl
msal
msal-extensions
multidict
pillow
pipenv
platformdirs
portalocker
# psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser
pygments
pyjwt
# pymongo==3.12.3
# pymysql==1.1.0
pysocks
pytz
requests
requests-toolbelt
rich
six
sqlparse
typing_extensions
urllib3
virtualenv
virtualenv-clone
whitenoise
django-storages[azure]
# django~=3.0.0
# django-environ

# djangorestframework
# pillow 


